.sidebar {
  display: none;
  background-color: #1c1c22;
  color: white;
  font-weight: bolder;
}

.category-title {
  font-size: 1.8rem;
  padding-left: 30px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.category-title::after {
  position: absolute;
  display: block;
  left: 15px;
  margin-bottom: 15px;
  content: "";
  height: 8px;
  width: 80%;
  background-color: #f09e78;
}

.category-item {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  height: 50px;
  font-size: 1rem;

  figure {
    width: 40px;
  }

  p {
    margin-left: 20px;

    span {
      font-size: 1.2rem;
      font-style: italic;
      font-weight: normal;
    }
  }
}

.selected {
  background-color: #393942;
}

@media only screen and (min-width: 768px) {
  .sidebar {
    display: block;
    position: sticky;
    top: 90px;
    height: calc(100vh - 90px);
  }
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 250px;
  }

  .category-item {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1rem;

    figure {
      width: 30px;
    }

    p {
      span {
        display: none;
      }
    }
  }
}
