.odds{
    color: white;
    background: linear-gradient(rgb(237, 50, 50) , 80%, rgb(77, 73, 73));
    border: none;
    border-radius: 0.313rem;
    width: 3.125rem;
    height: 1.875rem;
    font-size: 0.938rem;
    font-weight: bold;
}

.odds2{
    color: white;
    background: linear-gradient(rgb(33, 130, 218) , 80%, rgb(77, 73, 73));
    border: none;
    border-radius: 0.313rem;
    width: 3.125rem;
    height: 1.875rem;
    font-size: 0.938rem;
    font-weight: bold;  
}



