.last-match-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 5px;
  width: min(40vw, 19rem);

  padding-inline: min(5%, 20px);
  padding-block: 10px;

  background-color: $color-scheme-dark-purple;
  color: white;
  border-radius: 10px;
  border: 2px solid $color-scheme-orange;

  font-size: 0.85rem;

  @media only screen and (min-width: $media-768px) {
    font-size: 1rem;
  }
  font-weight: bold;
}
