.button-component {
  font-size: 145%;
  font-weight: 500;

  padding-inline: 1.3rem;
  padding-block: 1.2rem;

  color: white;
  background-color: $color-scheme-red-purple;
  border: 1.5px solid $color-scheme-orange;
  border-radius: 0.4rem;
  box-shadow: 1px 4px 4px $button-comp-box-shadow-color;

  // see mixin.scss
  @include button-press-effect(1px 2px 4px $button-comp-box-shadow-color);
}

.drop-down-button {
  font-size: 170%;
  font-weight: 900;

  width: 9rem;
  padding-block: 0.8rem;

  color: white;
  background-color: $color-scheme-red-purple;
  border: 1px solid $color-scheme-orange;
  border-radius: 0.8rem;
  box-shadow: 1px 4px 4px $button-comp-box-shadow-color;

  // see mixin.scss
  @include button-press-effect(1px 2px 4px $button-comp-box-shadow-color);
}
