.button-component {
  font-size: 145%;
  font-weight: 500;

  height: fit-content;

  padding-inline: 1.3rem;
  padding-block: 1.2rem;

  color: white;
  background-color: $color-scheme-red-purple;
  border: 1.5px solid $color-scheme-orange;
  border-radius: 0.4rem;
  box-shadow: 1px 4px 4px $button-comp-box-shadow-color;

  // see mixin.scss
  @include button-press-effect(1px 2px 4px $button-comp-box-shadow-color);
}
// ------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------

// DROP DOWN BUTTON _________________________________________
.drop-down__button {
  margin-inline-start: 2.5rem;

  font-size: 190%;
  font-weight: 900;

  width: 9.5rem;
  padding-block-start: 0.75rem;
  padding-block-end: 0.75rem;

  color: white;
  background-color: $color-scheme-red-purple;
  border: 1px solid $color-scheme-orange;
  border-radius: 0.8rem;
  box-shadow: 1px 4px 4px $button-comp-box-shadow-color;

  // see mixin.scss
  @include button-press-effect(1px 2px 4px $button-comp-box-shadow-color);
}
