//////////////////////
/* Button dropdown */
////////////////////

.dropdown {
  width: 90%;
  height: max-content;
  position: relative;
}

.dropdown__btn {
  width: 100%;
  height: 60px;
  padding: 0;
  border: none;
  background-color: $color-scheme-dark-purple;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  figure {
    width: 30px;
    max-height: 50px;
  }
}

.dropdown__btn__item {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    gap: 20px;
    align-items: center;

    h3 {
      font-size: 0.9rem;
    }
  }
}

.arrowIcon {
  height: 25px;
  filter: invert(100%) sepia(1%) saturate(7465%) hue-rotate(296deg) brightness(106%) contrast(99%);
}

.gameLogo {
  width: 100%;
  object-fit: cover;
}

/////////////////////
/* Dropdown Items */
///////////////////

.dropdown__items {
  position: absolute;
  z-index: 2;
  top: 100%;
  width: 100%;
  background-color: $color-scheme-dark-purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: growDown 0.2s ease-in;
  transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.hidden {
  display: none;
  top: 0%;
}

.category {
  width: 100%;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid $color-scheme-dark-blue;

  div {
    width: 85%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  h3 {
    font-size: 0.9rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .dropdown {
    display: none;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
