.team-encounter-card {
  display: flex;
  flex-direction: column;

  .encounter-date {
    margin-left: 10px;
  }

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    .score {
      white-space: nowrap;
    }

    figure {
      width: min(40%, 65px);
      img {
        width: 100%;
      }
    }
  }
}
